<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StampName</key>
	<string></string>
	<key>DateOfInfomation</key>
	<date>2015-07-22T01:32:37Z</date>
	<key>Category</key>
	<string></string>
	<key>LocationTitle</key>
	<string></string>
	<key>Budget</key>
	<integer>0</integer>
	<key>Memo</key>
	<string></string>
	<key>Altitude</key>
	<string></string>
	<key>Latitude</key>
	<string></string>
</dict>
</plist>
